* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  min-height: 100vh;
}
#wrap {
  overflow: hidden;
}

.image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}
.container > ul > li:first-child .image {
  opacity: 1;
  visibility: visible;
}

.container {
  position: relative;
  display: grid;
  grid: 1fr / 1fr;
  width: 100%;
  height: 100%;
  z-index: 999;
  padding: 5%;
}
.container > ul {
  list-style: none;
  width: 95%;
  margin: 0 auto;
  padding: 0;
}
.container-item {
  padding: 15px 0;
}

.link {
  position: relative;
  font-size: calc(1.5rem + 3vw);
  font-weight: 600;
  text-decoration: none;
  color: #fff;
  -webkit-text-stroke: 0.08vw #1a1a1a;
  transition: opacity 0.3s ease-in-out;
}
.container-item.active .link + .image {
  opacity: 1;
  visibility: visible;
}
.container.hover .link {
  opacity: 0.4;
}
.container-item.active .link {
  opacity: 1;
}
